<h1>Books</h1>

<div *ngFor="let book of $books | async">
  <p>Title: {{book.title}}</p>
  <img [src]="book.imageUrl" width="400" alt="Article image">
  <p>Date: {{book.date}}</p>
  <p>Description: {{book.description}}</p>
  <p>ID: {{book.id}}</p>
</div>